.alert-danger {
  font-weight: 500;
}

.form-group.has-error label {
  color: red;
  font-weight: 700;
}

.form-group.has-error input {
  border-color: red;
}

.form-group.has-error select {
  border-color: red;
}

.form-group.has-error [class*="input-group-"] {
  background-color: #f8d7da;
  border-color: red;
  font-weight: 500;
}